<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Bonjour,
</p>
<p>
    Voici les derni&egrave;res informations sur votre compte bancaire :<br />
        - Numero de compte : <strong>***{{numCompte}}</strong><br />
        - Date alerte : <strong>{{date}}</strong><br />
        - Dernière opération : <strong>{{dernierOperation}}</strong><br />
        - Solde : <strong>{{solde}} euros</strong><br />
    La BNP vous remercie pour votre confiance.
</p>

<p>
    Le service client de la BNP.<br />
</p>
</body>
</html>